<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bouns_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{884,475}</string>
                <key>spriteSourceSize</key>
                <string>{884,475}</string>
                <key>textureRect</key>
                <string>{{1,1},{884,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bouns_text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{794,219}</string>
                <key>spriteSourceSize</key>
                <string>{794,219}</string>
                <key>textureRect</key>
                <string>{{887,235},{794,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bouns_text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,232}</string>
                <key>spriteSourceSize</key>
                <string>{720,232}</string>
                <key>textureRect</key>
                <string>{{887,1},{720,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fox_texture2.png</string>
            <key>size</key>
            <string>{1682,477}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca7df4895d5f690b5810e353a1bf0ba1:b8bc1a8dc3c53bebcc24b243755d6330:878113cd4c8c636c76305da335ecaad0$</string>
            <key>textureFileName</key>
            <string>fox_texture2.png</string>
        </dict>
    </dict>
</plist>
