<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_key_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,27}</string>
                <key>spriteSourceSize</key>
                <string>{31,27}</string>
                <key>textureRect</key>
                <string>{{143,461},{31,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_key_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{20,14}</string>
                <key>textureRect</key>
                <string>{{227,325},{20,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,126}</string>
                <key>spriteSourceSize</key>
                <string>{46,126}</string>
                <key>textureRect</key>
                <string>{{131,333},{46,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,126}</string>
                <key>spriteSourceSize</key>
                <string>{46,126}</string>
                <key>textureRect</key>
                <string>{{179,325},{46,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,333},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,170}</string>
                <key>spriteSourceSize</key>
                <string>{159,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{159,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>house1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{1,173},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>house_ mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{1,173},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>house_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{1,173},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,35}</string>
                <key>spriteSourceSize</key>
                <string>{31,35}</string>
                <key>textureRect</key>
                <string>{{179,453},{31,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>small_door1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{1,463},{28,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>small_door2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{72,463},{28,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>small_house1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{162,1},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_house2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{162,82},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_house_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{162,163},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_house_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{161,244},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texture4.png</string>
            <key>size</key>
            <string>{242,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72d543875f7bd65ef0e5d642844fc38a:14d7d13ca48fbebd434c0e2fdfdf5b35:ae5e98f36f75a7d68b54d6d237d0d710$</string>
            <key>textureFileName</key>
            <string>texture4.png</string>
        </dict>
    </dict>
</plist>
