<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{256,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,170}</string>
                <key>spriteSourceSize</key>
                <string>{159,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{159,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>house_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{92,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{162,1},{92,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texture4.png</string>
            <key>size</key>
            <string>{385,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:249e312bac587e28fbceebc576e320b4:fd49db35296e5ba92fd7e8137288b260:ae5e98f36f75a7d68b54d6d237d0d710$</string>
            <key>textureFileName</key>
            <string>texture4.png</string>
        </dict>
    </dict>
</plist>
