<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_effect_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,34}</string>
                <key>spriteSourceSize</key>
                <string>{233,34}</string>
                <key>textureRect</key>
                <string>{{233,68},{233,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_effect_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,34}</string>
                <key>spriteSourceSize</key>
                <string>{233,34}</string>
                <key>textureRect</key>
                <string>{{0,102},{233,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_effect_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,34}</string>
                <key>spriteSourceSize</key>
                <string>{233,34}</string>
                <key>textureRect</key>
                <string>{{0,136},{233,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_effect_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,34}</string>
                <key>spriteSourceSize</key>
                <string>{233,34}</string>
                <key>textureRect</key>
                <string>{{233,136},{233,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_effect_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,34}</string>
                <key>spriteSourceSize</key>
                <string>{233,34}</string>
                <key>textureRect</key>
                <string>{{233,102},{233,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_effect_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,34}</string>
                <key>spriteSourceSize</key>
                <string>{233,34}</string>
                <key>textureRect</key>
                <string>{{0,0},{233,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_effect_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,34}</string>
                <key>spriteSourceSize</key>
                <string>{233,34}</string>
                <key>textureRect</key>
                <string>{{233,0},{233,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_effect_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,34}</string>
                <key>spriteSourceSize</key>
                <string>{233,34}</string>
                <key>textureRect</key>
                <string>{{233,34},{233,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_effect_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,34}</string>
                <key>spriteSourceSize</key>
                <string>{233,34}</string>
                <key>textureRect</key>
                <string>{{0,34},{233,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_effect_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,34}</string>
                <key>spriteSourceSize</key>
                <string>{233,34}</string>
                <key>textureRect</key>
                <string>{{0,68},{233,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_effect_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{253,372},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_effect_t1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{358,372},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_rotation_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{0,635},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_rotation_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{158,477},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_rotation_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{0,477},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_rotation_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{158,635},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_rotation_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{158,793},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_rotation_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{158,951},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_rotation_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{0,951},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_rotation_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{316,477},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_rotation_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{316,635},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_rotation_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{0,793},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_rotation_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{316,793},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_rotation_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{316,951},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,41}</string>
                <key>spriteSourceSize</key>
                <string>{256,41}</string>
                <key>textureRect</key>
                <string>{{256,211},{256,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,41}</string>
                <key>spriteSourceSize</key>
                <string>{256,41}</string>
                <key>textureRect</key>
                <string>{{0,211},{256,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,41}</string>
                <key>spriteSourceSize</key>
                <string>{256,41}</string>
                <key>textureRect</key>
                <string>{{256,170},{256,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,41}</string>
                <key>spriteSourceSize</key>
                <string>{256,41}</string>
                <key>textureRect</key>
                <string>{{0,170},{256,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,41}</string>
                <key>spriteSourceSize</key>
                <string>{256,41}</string>
                <key>textureRect</key>
                <string>{{0,252},{256,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,41}</string>
                <key>spriteSourceSize</key>
                <string>{256,41}</string>
                <key>textureRect</key>
                <string>{{256,252},{256,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,88}</string>
                <key>spriteSourceSize</key>
                <string>{95,88}</string>
                <key>textureRect</key>
                <string>{{158,372},{95,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,50}</string>
                <key>spriteSourceSize</key>
                <string>{417,50}</string>
                <key>textureRect</key>
                <string>{{0,293},{417,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>morph_normal_area.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{0,372},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>morph_rotate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{417,293},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>morph_special_area.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{79,372},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texture3.png</string>
            <key>size</key>
            <string>{512,1109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baf9053453fa2a9d5d6291a48986e232:028fc7f0c14f36ff526db3dc8c7d3458:7c9efe480daa88df39f1c90f5f928455$</string>
            <key>textureFileName</key>
            <string>texture3.png</string>
        </dict>
    </dict>
</plist>
