<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>booster_count.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{810,577},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_butterfly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,144}</string>
                <key>spriteSourceSize</key>
                <string>{387,144}</string>
                <key>textureRect</key>
                <string>{{518,2},{387,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_lamp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,144}</string>
                <key>spriteSourceSize</key>
                <string>{387,144}</string>
                <key>textureRect</key>
                <string>{{518,150},{387,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,144}</string>
                <key>spriteSourceSize</key>
                <string>{387,144}</string>
                <key>textureRect</key>
                <string>{{518,298},{387,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{172,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{2,878},{172,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>failed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,277}</string>
                <key>spriteSourceSize</key>
                <string>{486,277}</string>
                <key>textureRect</key>
                <string>{{284,1069},{486,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamebg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,512}</string>
                <key>spriteSourceSize</key>
                <string>{288,512}</string>
                <key>textureRect</key>
                <string>{{2,2},{288,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamebg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,512}</string>
                <key>spriteSourceSize</key>
                <string>{288,512}</string>
                <key>textureRect</key>
                <string>{{2,294},{288,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamebg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,512}</string>
                <key>spriteSourceSize</key>
                <string>{288,512}</string>
                <key>textureRect</key>
                <string>{{518,446},{288,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamebg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,512}</string>
                <key>spriteSourceSize</key>
                <string>{288,512}</string>
                <key>textureRect</key>
                <string>{{2,586},{288,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_end_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,278}</string>
                <key>spriteSourceSize</key>
                <string>{486,278}</string>
                <key>textureRect</key>
                <string>{{2,1069},{486,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_text_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,42}</string>
                <key>spriteSourceSize</key>
                <string>{83,42}</string>
                <key>textureRect</key>
                <string>{{909,2},{83,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,143}</string>
                <key>spriteSourceSize</key>
                <string>{127,143}</string>
                <key>textureRect</key>
                <string>{{810,446},{127,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_background_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,124}</string>
                <key>spriteSourceSize</key>
                <string>{176,124}</string>
                <key>textureRect</key>
                <string>{{810,709},{176,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_background_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,124}</string>
                <key>spriteSourceSize</key>
                <string>{176,124}</string>
                <key>textureRect</key>
                <string>{{810,889},{176,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_background_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,124}</string>
                <key>spriteSourceSize</key>
                <string>{176,124}</string>
                <key>textureRect</key>
                <string>{{178,878},{176,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_background_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,124}</string>
                <key>spriteSourceSize</key>
                <string>{176,124}</string>
                <key>textureRect</key>
                <string>{{306,878},{176,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_background_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,124}</string>
                <key>spriteSourceSize</key>
                <string>{176,124}</string>
                <key>textureRect</key>
                <string>{{807,1069},{176,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_background_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,124}</string>
                <key>spriteSourceSize</key>
                <string>{176,124}</string>
                <key>textureRect</key>
                <string>{{565,1154},{176,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>no_tittle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{434,878},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>no_tittle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{745,1249},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>no_tittle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{565,1403},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>no_tittle_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{719,1403},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,188}</string>
                <key>spriteSourceSize</key>
                <string>{238,188}</string>
                <key>textureRect</key>
                <string>{{565,962},{238,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_ui.png</string>
            <key>size</key>
            <string>{955,1557}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:598cbabd44369f2fcf31da04ce7489fd:c190788e9e54854da4d0a726a3277fe5:4a6629bec4e9c7c5a5269e20618b7c65$</string>
            <key>textureFileName</key>
            <string>game_ui.png</string>
        </dict>
    </dict>
</plist>
