<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>genies.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,290}</string>
                <key>spriteSourceSize</key>
                <string>{250,290}</string>
                <key>textureRect</key>
                <string>{{1753,1461},{250,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1,1},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1,293},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1,585},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1,877},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1,1169},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1,1461},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1,1753},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{293,1},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{293,293},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{293,585},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{293,877},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{293,1169},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{293,1461},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{293,1753},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{585,1},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{585,293},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{585,585},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{585,877},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{585,1169},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{585,1461},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{585,1753},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{877,1},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{877,293},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{877,585},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{877,877},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{877,1169},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{877,1461},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{877,1753},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1169,1},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1169,293},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1169,585},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1169,877},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1169,1169},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1169,1461},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1169,1753},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1461,1},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1461,293},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1461,585},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1461,877},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1461,1169},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1461,1461},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1461,1753},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1753,1},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1753,293},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1753,585},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1753,877},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>genies_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1753,1169},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magic time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,151}</string>
                <key>spriteSourceSize</key>
                <string>{290,151}</string>
                <key>textureRect</key>
                <string>{{1753,1753},{290,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>genies_animation.png</string>
            <key>size</key>
            <string>{2044,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63ef574c09362be7e026302875ca812c:80f6cd71e89f2f50c8a86a90e086237b:f9b5572fc76d49c0cb036b4df86c0802$</string>
            <key>textureFileName</key>
            <string>genies_animation.png</string>
        </dict>
    </dict>
</plist>
