<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,63}</string>
                <key>spriteSourceSize</key>
                <string>{254,63}</string>
                <key>textureRect</key>
                <string>{{833,1},{254,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,200}</string>
                <key>spriteSourceSize</key>
                <string>{179,200}</string>
                <key>textureRect</key>
                <string>{{1,972},{179,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,200}</string>
                <key>spriteSourceSize</key>
                <string>{179,200}</string>
                <key>textureRect</key>
                <string>{{444,147},{179,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,200}</string>
                <key>spriteSourceSize</key>
                <string>{179,200}</string>
                <key>textureRect</key>
                <string>{{625,147},{179,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,200}</string>
                <key>spriteSourceSize</key>
                <string>{179,200}</string>
                <key>textureRect</key>
                <string>{{182,972},{179,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{363,1019},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{718,349},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{491,1098},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{569,1021},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{363,891},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{385,1145},{126,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{285,1174},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{609,890},{126,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{735,875},{126,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{735,1003},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{609,1018},{126,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{511,1146},{126,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{637,1146},{126,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{763,1129},{126,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>butterfly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,75}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{793,530},{79,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,136}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{688,737},{135,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,91}</string>
                <key>spriteSourceSize</key>
                <string>{272,91}</string>
                <key>textureRect</key>
                <string>{{444,349},{272,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dlg_background_middle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,150}</string>
                <key>spriteSourceSize</key>
                <string>{153,150}</string>
                <key>textureRect</key>
                <string>{{382,739},{153,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_hart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,144}</string>
                <key>spriteSourceSize</key>
                <string>{387,144}</string>
                <key>textureRect</key>
                <string>{{444,1},{387,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hart_unlimited.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,93}</string>
                <key>spriteSourceSize</key>
                <string>{103,93}</string>
                <key>textureRect</key>
                <string>{{793,435},{103,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>harts.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,97}</string>
                <key>spriteSourceSize</key>
                <string>{282,97}</string>
                <key>textureRect</key>
                <string>{{1,1174},{282,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{537,739},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,200}</string>
                <key>spriteSourceSize</key>
                <string>{179,200}</string>
                <key>textureRect</key>
                <string>{{431,444},{179,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{194,91}</string>
                <key>spriteSourceSize</key>
                <string>{196,93}</string>
                <key>textureRect</key>
                <string>{{431,646},{194,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{194,91}</string>
                <key>spriteSourceSize</key>
                <string>{196,93}</string>
                <key>textureRect</key>
                <string>{{627,644},{194,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_star_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{491,1021},{76,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,144}</string>
                <key>spriteSourceSize</key>
                <string>{358,144}</string>
                <key>textureRect</key>
                <string>{{1,826},{358,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{491,891},{116,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_position.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,33}</string>
                <key>spriteSourceSize</key>
                <string>{30,33}</string>
                <key>textureRect</key>
                <string>{{382,682},{30,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,47}</string>
                <key>spriteSourceSize</key>
                <string>{236,47}</string>
                <key>textureRect</key>
                <string>{{382,444},{236,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,200}</string>
                <key>spriteSourceSize</key>
                <string>{179,200}</string>
                <key>textureRect</key>
                <string>{{612,442},{179,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>side_item0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{823,678},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>side_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{523,1098},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{823,607},{51,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,441}</string>
                <key>spriteSourceSize</key>
                <string>{441,441}</string>
                <key>textureRect</key>
                <string>{{1,1},{441,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,380}</string>
                <key>spriteSourceSize</key>
                <string>{379,380}</string>
                <key>textureRect</key>
                <string>{{1,444},{379,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{806,257},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>map_items.png</string>
            <key>size</key>
            <string>{897,1273}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67028626e507cc519e84d1cda16e7579:966907b6e8c46cf20b77df8be38e7c4b:781c92f48635fc638b54b614fe7458b3$</string>
            <key>textureFileName</key>
            <string>map_items.png</string>
        </dict>
    </dict>
</plist>
